@charset "utf-8";

/* CSS Document */
ul,
li,
h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
	list-style: none
}

body {
	background: url(../images/timg.jpg) fixed;
	margin: 0px
}

.win1000 {
	width: 1000px;
	margin: 0 auto;
}

.clear {
	clear: both
}

.menu li {
	list-style: none
}

.top_img {
	background: #fff
}

.logo {
	width: 90px;
	float: left
}

.logo img {
	width: 90px
}

.logo_word {
	float: left;
	font-size: 36px;
	line-height: 88px;
	margin-left: 10px;
}

.banner {
	position: relative;
}

.menu {
	width: 100%;
	text-align: center;
	float: left;
	background: #000
}

.menu li a {
	font-weight: bold;
	color: #fff
}

.menu li {
	float: left;
	margin: 2px;
	border: #ccc solid 1px;
	padding: 15px 30px;
	width: 101px
}

.right {
	float: right;
	width: 300px;
}

.right img {
	width: 280px;
	float: right;
	margin-top: 45px;
}

.left {
	float: left;
	width: 660px;
}

.content {
	min-height: 300px;
	padding: 20px;
	background: #fff;
	color: #000;
}

.end {
	clear: both;
	background: #000;
	color: #fff;
	padding: 30px 0;
	text-align: center;
}

.pics p {
	margin: 1px;
	text-align: center
}

.imglist {
	width: 840px;
	margin: 0 auto
}

.imglist li {
	float: left;
	width: 400px;
	margin: 10px;
	text-align: center
}

.scrollleft {
	margin: 0 30px
}

.scrollleft li {
	float: left
}

.news li {
	padding: 5px;
}


.fl {
	float: left
}

.js div {
	width: 23%;
	margin: 1%;
	margin-bottom: 20px;
	float: left
}

.js div img {
	width: 100%
}

.msg>div {
	padding: 10px
}

.hei10 {
	height: 10px
}

.Title {
	font-size: 24px;
	margin-bottom: 10px;
}

.Title.a1 {
	text-align: center
}

.word {
	font-size: 16px;
	line-height: 25px;
}

.word.a1 p {
	line-height: 40px;
	color: #666;
	font-size: 18px;
}

.habit_img {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.habit_img li {
	float: left;
	width: 25%;
	text-align: center
}

.habit_img img {
	width: 200px;
	height: 150px;
}

search {
	width: 587px;
	height: 300px;
	position: absolute;
	top: 85px;
	right: 30px
}

.search .Button {
	padding: 10px 40px;
	display: inline-block;
	background: #ff9f38;
	margin-top: 15px;
	margin-left: 15px;
	border-radius: 10px;
	color: #FFFFFF
}

.search .Button:hover {
	background: #ff8400
}

.inp {
	width: 286px;
	float: left;
	display: block;
	border: none;
	height: 45px;
	color: #000;
	font-size: 14px;
	line-height: 47px;
	text-indent: 14px;
	border-radius: 10px;
	margin-left: 15px;
	margin-top: 10px
}

.inp.a1 {
	width: 555px;
	border: 1px solid #e1e1e1;
	height: 41px
}

.inp.a2 {
	width: 555px;
	border: 1px solid #e1e1e1;
	height: 90px
}